.logo-img {
  height: 155px;
  width: 100%;
  display: block;
  margin: 20px 0;
  vertical-align: middle;
  text-align: center;
  background: url('../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
