@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-title {
  color: black;
  font-weight: 600;
}

.navbar-version {
  font-size: 0.65em;
  color: white;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

li.nav-item.active a {
  color: black;
}

.navbar {
  * {
    color: black !important;
    font-size: 20px;
  }
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item:focus,
  .dropdown-item.active:hover,
  .dropdown-item:hover {
    background-color: #508827 !important;
    * {
      color: white !important;
    }
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    color: black;
    &:hover {
      color: $navbar-light-hover-color !important;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}

ul {
  z-index: 3000;
}
