
<div [ngSwitch]="isAuthenticated()" style="height: calc(100% - 62px)">
        <div class="map match-parent"*ngSwitchCase="true" id="map" (click)="print($event)">
            <app-map></app-map>
        </div>
        <div *ngIf="tripEnded" class="trip-ended">

        </div>
        <div *ngIf="tripEnded" class="circle1">
            <span class="main-text">Trip ended, Good Job!</span><br><span class="points">+{{points}} EcoPoints</span>
            <span class="step" *ngIf="step===0" (click)="nextStep()">Check your points on your profile.</span>
        </div>
        <div *ngIf="tripEnded" class="circle2"><span class="co2">{{co2}} g CO&#8322;</span></div>
        <div *ngIf="tripEnded" class="circle3"></div>
        <div *ngIf="tripEnded" class="circle4" (click)="tripEnded=false"><span>OK</span></div>
        <div *ngIf="tripEnded" class="circle5"><span class="logo-img"></span></div>
    <div class="row login" *ngSwitchCase="false">

        <span class="logo-img"></span>
        <br>
        <br>
        <a class="button success" (click)="login()" id="login">
            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
            <span jhiTranslate="global.menu.account.login">Sign in</span>
        </a>
    </div>

</div>
